@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "variable";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $light-gray;
  color: $grayish-blue;
  font-size: 15px;
  max-width: $mobile-width;
  padding: 1rem;
  margin: 0 auto;
}

.container {
  padding: 0 2rem;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  color: $dark-blue;
  font-weight: 600;
  margin: 0.2rem 0;
}

// Main

main {
  .header {
    margin: 3rem auto;

    h2.light {
      font-weight: 200;
    }

    p {
      margin: 1rem 0;
    }
  }

  .cards {
    .card {
      background: $white-color;
      margin: 1rem auto;
      padding: 1rem;
      box-shadow: 0 12px 32px -9px rgba(0, 0, 0, 0.4);
      border-radius: 5px;

      .icon {
        display: block;
        margin: 2rem 0 1rem auto;
        width: 3rem;
      }
    }

    .cyan {
      border-top: 3px solid $cyan;
    }

    .red {
      border-top: 3px solid $red;
    }

    .orange {
      border-top: 3px solid $orange;
    }

    .blue {
      border-top: 3px solid $blue;
    }
  }
}

// Footer
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
  body {
    max-width: $desktop-width;
    text-align: center;
    font-size: 20px;
  }

  main {
    .header {
      width: 560px;
    }

    .cards {
      display: grid;
      grid-template:
        ". card-2 ."
        "card-1 card-2 card-4"
        "card-1 card-3 card-4"
        ". card-3 .";
      grid-template-columns: minmax(0, 420px) minmax(0, 420px) minmax(0, 420px);
      grid-template-rows: repeat(4, minmax(1fr, 420px));
      margin-bottom: 30px;
      grid-gap: 2rem;
      align-items: center;
      text-align: start;
      justify-content: center;

      .cyan {
        grid-area: card-1;
      }

      .red {
        grid-area: card-2;
      }

      .orange {
        grid-area: card-3;
      }

      .blue {
        grid-area: card-4;
      }
      .card {
        width: 420px;
        margin: 0 auto;
      }
    }
  }
}
